* {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

#footer {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #e7e7e7;
}

.container1 {
	max-width: 800px;
}

.title {
  margin-bottom: 60px;
  padding-right: 100px;
}

.title>p {
  margin-top: 15px;
  text-align: left;
  color: #999;
}

.title>h3 {
  font-weight: bold;
}

.title>h3>a {
  color: #000;
  text-decoration: none;
}

#content {
  font-size: 17.5px;
  margin-top: 25px;
}

#content img {
  display: block;
  margin: 0 auto;
}

#content table th {
  font-weight: bold;
}

#content table th, #content table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}

#content table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

#content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
