<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="LittleAttic, programer, coding, git, student, C programming language, the meaning of life, science,{% if page.tags %}{{ page.tags | array_to_sentence_string }}{% endif %}" />
    <meta name="description" content="LittleAttic is about my life and study."> 
    <meta name="author" content="macd, hyitmacd@gmail.com">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/markdown.css"></link>
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css"></link>
    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css"></link>
    
</head>
<body>
<div id="body">
    <div id="header">
        <a href="{{ site.baseurl }}">LittleAttic</a>
        <p><a href="{{ site.baseurl }}/about.html">想到什么写什么</a></p>
    </div>
    {{ content }}
    <div id="footer">&copy; 2014 LittleAttic. </div>
</div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'littleattic'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</body>
</html>