---
layout: default
---

<div>
    <a href="{{ site.baseurl }}/language.html" {% if page.flag=='language' %}class="selected"{% endif %} ><h4>编程语言</h4></a>
    <ul>
        {% for post1 in site.categories.language %}
        <li><a href="">{{ post1.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ site.baseurl }}/system.html" {% if page.category=='system' %}class="selected"{% endif %} ><h4>操作系统</h4></a>
    <ul>
        {% for post2 in site.categories.system %}
        <li><a href="">{{ post2.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ site.baseurl }}/hardware.html" {% if page.category=='hardware' %}class="selected"{% endif %} ><h4>硬件</h4></a>
    <ul>
        {% for post3 in site.categories.hardware %}
        <li><a href="">{{ post3.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ site.baseurl }}/tool.html" {% if page.category=='tool' %}class="selected"{% endif %} ><h4>工具</h4></a>
    <ul>
        {% for post4 in site.categories.tool %}
        <li><a href="">{{ post4.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ site.baseurl }}/other.html" {% if page.category=='other' %}class="selected"{% endif %} ><h4>其他</h4></a>
    <ul>
        {% for post5 in site.categories.other %}
        <li><a href="">{{ post5.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    {{ content }}
</div>