---
layout: default
---

<div id="left-menu">
    <h4><a href="{{ site.baseurl }}/language.html" {% if page.title == 'language' %}{{'class="selected"'}}{% endif %} >编程语言</a></h4>
    <ul class="list-menu">
        {% for post in site.categories.language %}
        <li><a href="#language-{{ forloop.index }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <h4><a href="{{ site.baseurl }}/system.html" {% if page.title == 'system' %}{{'class="selected"'}}{% endif %} >操作系统</a></h4>
    <ul class="list-menu">
        {% for post in site.categories.system %}
        <li><a href="#system-{{ forloop.index }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <h4><a href="{{ site.baseurl }}/hardware.html" {% if page.title == 'hardware' %}{{'class="selected"'}}{% endif %} >硬件</a></h4>
    <ul class="list-menu">
        {% for post in site.categories.hardware %}
        <li><a href="#hardware-{{ forloop.index }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <h4><a href="{{ site.baseurl }}/tool.html" {% if page.title == 'tool' %}{{'class="selected"'}}{% endif %} >工具</a></h4>
    <ul class="list-menu">
        {% for post in site.categories.tool %}
        <li><a href="#tool-{{ forloop.index }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <h4><a href="{{ site.baseurl }}/other.html" {% if page.title == 'other' %}{{'class="selected"'}}{% endif %} >其他</a></h4>
    <ul class="list-menu">
        {% for post in site.categories.other %}
        <li><a href="#other-{{ forloop.index }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div id="right-content">
    {{ content }}
</div>
<div style="clear:both;"></div>